<?xml version="1.0"?>
<config>
	<modules>
		<Natv_Questions>
			<version>0.0.1</version>
		</Natv_Questions>
	</modules>
	<global>
		<resources>
			<natv_questions_setup>
				<setup>
					<module>Natv_Questions</module>
					<class>Natv_Questions_Model_Resource_Setup</class>
				</setup>
			</natv_questions_setup>
		</resources>
		<blocks>
			<questions>
				<class>Natv_Questions_Block</class>
			</questions>
		</blocks>
		<helpers>
			<questions>
				<class>Natv_Questions_Helper</class>
			</questions>
		</helpers>
		<models>
			<questions>
				<class>Natv_Questions_Model</class>
				<resourceModel>questions_resource</resourceModel>
			</questions>
			<questions_resource>
				<class>Natv_Questions_Model_Resource</class>
				<entities>
					<question>
						<table>questions_question</table>
					</question>
					<question_store>
						<table>questions_question_store</table>
					</question_store>
					<question_product>
						<table>questions_question_product</table>
					</question_product>
				</entities>
			</questions_resource>
		</models>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<natv_questions>
					<file>natv_questions.xml</file>
				</natv_questions>
			</updates>
		</layout>
		<translate>
			<modules>
				<natv_Questions>
					<files>
						<default>Natv_Questions.csv</default>
					</files>
				</natv_Questions>
			</modules>
		</translate>
		<events>
			<core_block_abstract_prepare_layout_after>
				<observers>
					<question>
						<type>singleton</type>
						<class>questions/adminhtml_observer</class>
						<method>addQuestionBlock</method>
					</question>
				</observers>
			</core_block_abstract_prepare_layout_after>
			<catalog_product_save_after>
				<observers>
					<question>
						<type>singleton</type>
						<class>questions/adminhtml_observer</class>
						<method>saveQuestionData</method>
					</question>
				</observers>
			</catalog_product_save_after>
		</events>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Natv_Questions before="Mage_Adminhtml">Natv_Questions_Adminhtml</Natv_Questions>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<frontend>
		<routers>
			<questions>
				<use>standard</use>
				<args>
					<module>Natv_Questions</module>
					<frontName>questions</frontName>
				</args>
			</questions>
		</routers>
		<layout>
			<updates>
				<natv_questions>
					<file>natv_questions.xml</file>
				</natv_questions>
			</updates>
		</layout>
		<translate>
			<modules>
				<natv_Questions>
					<files>
						<default>Natv_Questions.csv</default>
					</files>
				</natv_Questions>
			</modules>
		</translate>
	</frontend>
	<!--<default>
		<questions>
			<question>
				<breadcrumbs>1</breadcrumbs>
				<meta_title>Questions</meta_title>
			</question>
		</questions>
	</default>-->
</config>