<?xml version="1.0"?>
<config>
    <modules>
        <EM_Testimonials>
            <version>0.1.0</version>
        </EM_Testimonials>
    </modules>
    <frontend>
        <routers>
            <testimonials>
                <use>standard</use>
                <args>
                    <module>EM_Testimonials</module>
                    <frontName>testimonials</frontName>
                </args>
            </testimonials>
        </routers>
        <layout>
            <updates>
                <testimonials>
                    <file>testimonials.xml</file>
                </testimonials>
            </updates>
        </layout>
    </frontend>    
    <global>        	
		<blocks>
            <testimonials>
                <class>EM_Testimonials_Block</class>
            </testimonials>
        </blocks>      
    </global>
	 <resources>  			
		<testimonials_write>
			<connection>
				<use>core_write</use>
			</connection>
		</testimonials_write>			
		<testimonials_read>
			<connection>
				<use>core_read</use>
			</connection>
		</testimonials_read>
	  </resources>	
</config>