<?xml version="1.0"?>
<!--
/**
 * Activo Extensions
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Activo Commercial License
 * that is available through the world-wide-web at this URL:
 * http://extensions.activo.com/license_professional
 *
 * @copyright   Copyright (c) 2014 Activo Extensions (http://extensions.activo.com)
 * @license     OSL 3.0
 */
-->
<config>
    <modules>
        <Activo_Xmlsitemap>
            <version>1.1.0</version>
        </Activo_Xmlsitemap>
    </modules>
    <global>
        <helpers>
            <xmlsitemap>
                <class>Activo_Xmlsitemap_Helper</class>
            </xmlsitemap>
        </helpers>
        <models>
            <xmlsitemap>
                <class>Activo_Xmlsitemap_Model</class>
                <resourceModel>xmlsitemap_resource</resourceModel>
            </xmlsitemap>
            <sitemap>
                <rewrite>
                    <sitemap>Activo_Xmlsitemap_Model_Sitemap_Sitemap</sitemap>
                </rewrite>
            </sitemap>
            <sitemap_resource>
                <rewrite>
                    <catalog_product>Activo_Xmlsitemap_Model_Sitemap_Resource_Catalog_Product</catalog_product>
                </rewrite>
                <rewrite>
                    <catalog_category>Activo_Xmlsitemap_Model_Sitemap_Resource_Catalog_Category</catalog_category>
                </rewrite>
                <rewrite>
                    <cms_page>Activo_Xmlsitemap_Model_Sitemap_Resource_Cms_Page</cms_page>
                </rewrite>
            </sitemap_resource>
            
            <sitemap_mysql4>
                <rewrite>
                    <catalog_product>Activo_Xmlsitemap_Model_Sitemap_Mysql4_Catalog_Product</catalog_product>
                </rewrite>
                <rewrite>
                    <catalog_category>Activo_Xmlsitemap_Model_Sitemap_Mysql4_Catalog_Category</catalog_category>
                </rewrite>
                <rewrite>
                    <cms_page>Activo_Xmlsitemap_Model_Sitemap_Mysql4_Cms_Page</cms_page>
                </rewrite>
            </sitemap_mysql4>
        </models>
    </global>
    
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <activo_news_xml>
                        <type>singleton</type>
                        <class>xmlsitemap/feed</class>
                        <method>observe</method>
                    </activo_news_xml>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
</config> 